<div>
    <p> Name: $customer.getName()</p>
    <p> Username: $customer.getUsername()</p>
    <p> Distance: $customer.getDistance()km</p>
</div>

<a href="/customers/$customer.getId()/edit" class="button center">Edit</a>
<form action="/customers/$customer.getId()/delete" method="post">
    <input type="submit" value="Delete" class="button center">
</form>
<a href="/customers" class="button center">Back to list</a>