<p class="pageHeader">Account Details</p>

    <div class="details">
        <p>Name: $customer.getName()</p>
        <p>Username: $customer.getUsername()</p>
        <p>Distance: $customer.getDistance()km</p>
    </div>


<a href="/account/edit" class="button center">Edit Details</a>

<a href="/account/previous-purchases" class="button center">View Previous Orders</a>

