<h3>Account Details</h3>

    <ul>
        <li>Name: $customer.getName()</li>
        <li>Username: $customer.getUsername()</li>
        <li>Distance(km): $customer.getDistance()</li>
        <li>Shop: $customer.getShop().getName()</li>
    </ul>


<a href="/account/edit" class="button center">Edit Details</a>

<a href="/previous-purchases" class="button center">View Previous Orders</a>

