@media all and (min-width: 700px) {
.dropdown2 {
  display:none!important;width:0px!important;height: 0px!important;overflow:hidden!important;line-height: 0px!important;font-size:0px!important;
  }

.dropdown3 {
  display:none!important;width:0px!important;height: 0px!important;overflow:hidden!important;line-height: 0px!important;font-size:0px!important;
  }


}

@media all and (max-width: 700px) {
  ul.topnav li {
    float: none;
  }
  li a {
    padding: 4px 6px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .title {
    justify-content: space-between;
  }
  .title img {
    display: flex;
    margin: 4px;
  }
  .filter label {
    width: 500px;
  }
  .log {
  display:none!important;width:0px!important;height: 0px!important;overflow:hidden!important;line-height: 0px!important;font-size:0px!important;
  }
  .dropdown1 {
  display:none!important;width:0px!important;height: 0px!important;overflow:hidden!important;line-height: 0px!important;font-size:0px!important;
  }

  .logo2 {
  display:none!important;width:0px!important;height: 0px!important;overflow:hidden!important;line-height: 0px!important;font-size:0px!important;
     }
}



@media all and (max-width: 733px) {
  table {
    border: 0;
  }


th, td {
    border-bottom: 1px solid #ddd;
}
  table thead {
    clip: rect(0 0 0 0);
    position: absolute;
  }
  table tr {
    border-bottom: 3px solid rgb(65, 65, 66);
    display: block;
    margin-bottom: 10px;
  }
  table td {
    border-bottom: 1px solid rgb(65, 65, 66);
    display: block;
    font-size: .8em;
    text-align: right;
  }
  table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  table td:last-child {
    border-bottom: 0;
  }

}