<h1>Admin Portal</h1>

<div class="nav">
    <ul>
        <li><a href="/customers">Customers</a></li>
        <li><a href="/previous-purchases">Previous Purchases</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/food-products">Food Products</a></li>
        <li><a href="/clothing-products">Clothing Products</a></li>
        <li><a href="/health-products">Health Products</a></li>
    </ul>
</div>