<h1>Admin Portal Login</h1>

<form action="/login/password" method="post">
    <label for="password">Enter Password:</label>
    <input id="password" name="password" type="text" placeholder="Password">

    <button type="submit">Login</button>
</form>
