<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/styles/buttons.css">
    <link rel="stylesheet" href="/styles/forms.css">
    <link rel="stylesheet" href="/styles/media.css">
    <link rel="stylesheet" href="/styles/structure.css">
    <link rel="stylesheet" href="/styles/tables.css">
    <title>PPS Groceries</title>
</head>

<body>

<nav class="navtop">
    <ul>
        <li class="logo"><img height="120px" src="/images/logo_full.png" alt="PPS Groceries"></li>
    </ul>
</nav>

<p class="pageHeader">Admin Portal Login</p>

<form action="/login/password" method="post">
    <label for="password">Enter Password:</label>
    <input id="password" name="password" type="text" placeholder="Password">

    <button type="submit">Login</button>
</form>

</body>
