<p class="pageHeader">Home</p>

<p>Click on a category</p>

<a href="/products" class="button center">All Products</a>
<a href="/food-products" class="button center">Food & Drink</a>
<a href="/clothing-products" class="button center">Clothing</a>
<a href="/health-products" class="button center">Health</a>