<p class="pageHeader">Home</p>

<p>Click on a category</p>

<ul class="customer_home">
    <li><a href="/products" class="button center">All Products</a></li>
    <li><a href="/food-products" class="button center">Food & Drink</a></li>
    <li><a href="/clothing-products" class="button center">Clothing</a></li>
    <li><a href="/health-products" class="button center">Health</a></li>
</ul>